.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
}

.logo {
  width: 150px;
}

.header__nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.header__nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
